.trail-card__button{
    background-color: #00aef6;
    border: none;
    padding: .75rem 1.5rem;
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Archivo Narrow';
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    transition: opacity .25s, box-shadow .25s;
}

.trail-card__button:hover, .trail-card__button:focus{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    opacity: .85;
}

.trail-card__button:active{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    outline: none;
    opacity: .75;
}