/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
audio,
canvas,
video {
    display: inline-block;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline-color: #0091ea;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
html,
input,
select,
textarea {
    color: #222;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Staatliches;
    src: url(../fonts/Staatliches/Staatliches-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Archivo Narrow";
    src: url(../fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf) format("truetype");
}
::-moz-selection {
    background: #424242;
    color: #fefefe;
}
::selection {
    background: #424242;
    color: #fefefe;
}
:focus {
    outline: 5px auto #0091ea !important;
    -moz-outline: 5px auto #0091ea !important;
    -webkit-outline: 5px auto #0091ea !important;
}
body {
    font-size: 16px;
    font-family: "Open Sans";
    color: #424242;
    background-color: #f5f5f5;
    margin: 0 auto;
    line-height: 1.4;
}
footer {
    background-color: #1b1b1b;
    display: none;
}
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4rem;
    display: none;
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 3.5em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-family: Staatliches;
    color: #1b1b1b;
}
header {
    background-color: #fefefe;
    position: relative;
    display: none;
}
header::after {
    content: "";
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: -o-linear-gradient(bottom, #f5f5f5 50%, #fefefe 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f5f5f5), to(#fefefe));
    background-image: linear-gradient(to top, #f5f5f5 50%, #fefefe 100%);
}
.high-contrast {
    -webkit-filter: grayscale(100%) contrast(200%);
    filter: grayscale(100%) contrast(200%);
}
@media (max-width: 600px) {
    main {
        padding: 0 1.5em;
    }
    h1 {
        font-size: 3.75em;
    }
    h2 {
        font-size: 2.75em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.15em;
    }
    h6 {
        font-size: 1em;
    }
    *:focus {
        outline: 0 !important;
        -moz-outline: 0 !important;
        -webkit-outline: 0 !important;
    }
}
.no-js {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    text-transform: lowercase;
    line-height: 1.25;
    margin: 0;
    background-color: #1b1b1b;
    color: #fefefe;
}
.no-js p {
    max-width: 600px;
    margin: 1em;
}
.navigation {
    height: 108px;
    min-height: 108px;
    max-height: 108px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #1b1b1b;
    position: relative;
    z-index: 2;
}
.navigation__container {
    width: inherit;
    max-width: 2200px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4rem;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .navigation__container {
        padding: 0 1.5rem;
    }
}
.logo {
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
}
.logo__link {
    font-size: 0;
    color: transparent;
    z-index: -1;
    display: block;
}
.logo__link__svg {
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
    background-image: url(../images/white-logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-hamburguer {
    display: none;
}
@media (max-width: 1100px) {
    .menu-hamburguer {
        display: block;
    }
}
.menu-hamburguer {
    width: 58px;
    height: 43px;
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.menu-hamburguer span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #fefefe;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.menu-hamburguer span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.menu-hamburguer span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.menu-hamburguer span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.menu-hamburguer.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
.menu-hamburguer.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.menu-hamburguer.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
.menu-bar {
    height: inherit;
}
.menu-bar--mobile {
    display: none;
}
@media (max-width: 1100px) {
    .menu-bar {
        display: none;
    }
    .menu-bar--mobile {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        display: block;
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.25s, -webkit-transform 0.25s;
        transition: max-height 0.25s, -webkit-transform 0.25s;
        -o-transition: transform 0.25s, max-height 0.25s;
        transition: transform 0.25s, max-height 0.25s;
        transition: transform 0.25s, max-height 0.25s, -webkit-transform 0.25s;
        background-color: #1b1b1b;
        -webkit-box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
        position: relative;
        top: -1px;
        z-index: 1;
    }
    .menu-bar--mobile .list--mobile {
        visibility: hidden;
    }
    .menu-bar--mobile.in .list--mobile {
        visibility: visible;
    }
    .menu-bar--mobile.in {
        max-height: 332px;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
}
@media (max-width: 1100px) {
    .list--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.list__item:not(:first-child) {
    margin-left: 1rem;
}
.list__item {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.list__item.list__item--active {
    -webkit-box-shadow: inset 0 -4px 0 #fefefe;
    box-shadow: inset 0 -4px 0 #fefefe;
}
.list__item a {
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.list__item a:focus,
.list__item:active,
.list__item:hover {
    -webkit-box-shadow: inset 0 -6px 0 #fefefe;
    box-shadow: inset 0 -6px 0 #fefefe;
}
@media (max-width: 1100px) {
    .list__item--mobile {
        height: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: -webkit-box-shadow 0.25s;
        transition: -webkit-box-shadow 0.25s;
        -o-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
        width: 100%;
    }
    .list__item--mobile.list__item--active--mobile {
        -webkit-box-shadow: inset 0 -4px 0 #fefefe;
        box-shadow: inset 0 -4px 0 #fefefe;
    }
    .list__item--mobile a {
        -webkit-transition: -webkit-box-shadow 0.25s;
        transition: -webkit-box-shadow 0.25s;
        -o-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    }
    .list__item--mobile a:active,
    .list__item--mobile a:focus {
        -webkit-box-shadow: inset 0 -6px 0 #fefefe;
        box-shadow: inset 0 -6px 0 #fefefe;
    }
    .list__item--mobile:active,
    .list__item--mobile:focus {
        -webkit-box-shadow: inset 0 -6px 0 #fefefe;
        box-shadow: inset 0 -6px 0 #fefefe;
    }
}
.list__item__link {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fefefe;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color 0.25s, border 0.25s, padding 0.25s;
    -o-transition: color 0.25s, border 0.25s, padding 0.25s;
    transition: color 0.25s, border 0.25s, padding 0.25s;
    font-family: "Archivo Narrow";
    letter-spacing: 1.5px;
}
@media (max-width: 1100px) {
    .list__item__link--mobile {
        height: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.25em;
        text-transform: uppercase;
        text-decoration: none;
        color: #fefefe;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: color 0.25s, border 0.25s, padding 0.25s;
        -o-transition: color 0.25s, border 0.25s, padding 0.25s;
        transition: color 0.25s, border 0.25s, padding 0.25s;
        font-family: "Archivo Narrow";
        letter-spacing: 1.5px;
        width: 100%;
        padding: 1rem 0.5rem;
    }
}
.principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 4rem 8rem 4rem;
}
@media (max-width: 600px) {
    .principal {
        padding: 4rem 1.5rem 8rem 1.5rem;
    }
}
.presentation {
    max-width: 700px;
}
.presentation__link {
    text-decoration: none;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #1b1b1b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: padding 0.15s, border 0.15s, color 0.25s;
    -o-transition: padding 0.15s, border 0.15s, color 0.25s;
    transition: padding 0.15s, border 0.15s, color 0.25s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.presentation__link:focus,
.presentation__link:hover {
    padding-bottom: 2px;
    color: #0091ea;
    border-color: #0091ea;
}
.presentation__link--white {
    color: #fefefe;
    border-bottom-color: #fefefe;
}
.presentation__link.presentation__link--read-more {
    font-size: 0.85em;
}
@media (max-width: 1100px) {
    .presentation__link:hover {
        padding-bottom: 0;
        color: inherit;
        border-color: inherit;
    }
    .presentation__link:focus:not(:hover) {
        padding-bottom: 2px;
        color: #0091ea;
        border-color: #0091ea;
    }
}
.presentation__text {
    margin-bottom: 1rem;
    font-size: 1.1em;
}
@media (max-width: 400px) {
    .presentation__title {
        word-break: break-word;
    }
}
@media (max-width: 800px) {
    .image {
        display: none;
    }
}
.image__svg {
    width: 300px;
    height: 400px;
    background-image: url(../images/tv.svg);
    background-position: left;
    background-size: 120%;
    background-repeat: no-repeat;
}
.section {
    margin-bottom: 6rem;
}
.section:first-child {
    margin-top: 2rem;
}
.section--black {
    background-color: #1b1b1b;
}
.section__presentation {
    max-width: 700px;
    margin-bottom: 2rem;
}
.principles__cards {
    position: relative;
    min-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.card {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 1.5rem;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #fefefe;
    -webkit-transition: width 0.25s, height 0.25s, -webkit-box-shadow 0.25s;
    transition: width 0.25s, height 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s, width 0.25s, height 0.25s;
    transition: box-shadow 0.25s, width 0.25s, height 0.25s;
    transition: box-shadow 0.25s, width 0.25s, height 0.25s, -webkit-box-shadow 0.25s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.card:not(:last-child) {
    margin-bottom: 2rem;
}
.card:active,
.card:focus,
.card:hover {
    width: 100%;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
@media (max-width: 700px) {
    .card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.card__image {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    margin-right: 1.5rem;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.card__image--one {
    background-image: url(../images/laptop.svg);
}
.card__image--two {
    background-image: url(../images/server.svg);
}
.card__image--three {
    background-image: url(../images/old.svg);
}
@media (max-width: 700px) {
    .card__image {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
.ethical-commitment {
    padding: 4rem;
    margin: 0;
}
@media (max-width: 600px) {
    .ethical-commitment {
        padding: 2rem;
    }
}
.ethical-commitment__text {
    color: #fefefe;
}
.ethical-commitment__title {
    color: #fefefe;
}
@media (max-width: 400px) {
    .ethical-commitment__title {
        word-break: break-word;
    }
}
.what-we-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.trail-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.trail-card:not(:last-child) {
    margin-bottom: 6rem;
}
@media (max-width: 700px) {
    .trail-card:not(:last-child) {
        margin-bottom: 2rem;
    }
}
.trail-card__button {
    background-color: #0091ea;
    border: none;
    padding: 0.75rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: "Archivo Narrow";
    letter-spacing: 2px;
    font-weight: bolder;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    -webkit-transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.trail-card__button:focus,
.trail-card__button:hover {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 0.85;
}
.trail-card__button:active {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    outline: 0;
    opacity: 0.75;
}
.trail-card__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 225px;
    min-width: 225px;
    max-width: 225px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
}
.trail-card__image--one {
    background-image: url(../images/computer-drive.svg);
    margin-left: 2rem;
}
.trail-card__image--two {
    background-image: url(../images/monitor.svg);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 2rem;
}
.trail-card__image--three {
    background-image: url(../images/drive.svg);
    margin-left: 2rem;
}
@media (max-width: 700px) {
    .trail-card__image {
        display: none;
    }
}
.trail-card__text {
    margin-bottom: 1rem;
}
.our-clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr 4rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
}
@media (max-width: 1100px) {
    .our-clients {
        -ms-grid-columns: 1fr 4rem 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {
    .our-clients {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
}
.card__companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fefefe;
    padding: 1.5rem;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    cursor: pointer;
}
.card__companies:active,
.card__companies:focus,
.card__companies:hover {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.card__companies__figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.card__companies__image {
    max-width: 100px;
    max-height: 100px;
}
.card__companies__title {
    margin: 1rem 0 0 0;
    font-size: 1.5em;
    width: inherit;
}
.footer-container {
    max-width: 2200px;
    padding: 18px 4rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .footer-container {
        padding: 18px 1.5rem;
    }
}
.footer-container__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 700px) {
    .footer-container__copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto;
    }
}
.footer-container__copyright__container {
    margin-left: 1rem;
}
@media (max-width: 700px) {
    .footer-container__copyright__container {
        margin-left: 0;
    }
}
.footer-container__copyright__container__text {
    color: #fefefe;
}
@media (max-width: 700px) {
    .footer-container__copyright__container__text {
        text-align: center;
    }
}
.footer-container__copyright__container__title {
    color: #fefefe;
    font-size: 1.75em;
}
@media (max-width: 700px) {
    .footer-container__copyright__container__title {
        margin-top: 0.5rem;
        text-align: center;
    }
}
.social-medias {
    padding-top: 18px;
}
@media (max-width: 800px) {
    .social-medias {
        display: none;
    }
}
.social-medias__links {
    font-size: 0;
    color: transparent;
    padding-right: 1rem;
}
.social-medias__links__svg {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    height: 20px;
    max-height: 20px;
    min-height: 20px;
}
.social-medias__links__svg path {
    -webkit-transition: fill 0.25s;
    -o-transition: fill 0.25s;
    transition: fill 0.25s;
}
.social-medias__links__svg:active path,
.social-medias__links__svg:focus path,
.social-medias__links__svg:hover path {
    fill: #0091ea;
}
a:active .social-medias__links__svg path,
a:focus .social-medias__links__svg path,
a:hover .social-medias__links__svg path {
    fill: #0091ea;
}
.social-medias__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.accessibility-bar {
    background-color: #454545;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fefefe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem;
    margin: -1px 0;
}
.accessibility-bar__button {
    font-size: 1rem;
}
.accessibility-bar__button--font {
    font-size: 0;
    color: transparent;
    padding: 6px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    background-color: #fefefe;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    -webkit-transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.accessibility-bar__button--font {
    margin-right: 0.75rem;
}
.accessibility-bar__button--font:focus,
.accessibility-bar__button--font:hover {
    opacity: 0.85;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.accessibility-bar__button--font:active,
.accessibility-bar__button--font:focus {
    opacity: 0.75;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.accessibility-bar__button--contrast {
    color: #fefefe;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    transition: opacity 0.25s, -webkit-box-shadow 0.25s;
    -o-transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s;
    transition: opacity 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.accessibility-bar__button--contrast:focus,
.accessibility-bar__button--contrast:hover {
    opacity: 0.85;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.accessibility-bar__button--contrast:active {
    opacity: 0.75;
    text-shadow: 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.accessibility-bar__button__image {
    width: 14px;
    min-width: 14px;
    max-width: 14px;
    height: 14px;
    min-height: 14px;
    max-height: 14px;
}