.navigation{
    height: 108px;
    min-height: 108px;
    max-height: 108px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    background-color: #1b1b1b;
    position: relative;
    z-index: 2;
}